<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="main.pfmandroid"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:debuggable="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="main.pfmandroid.LoginActivity" />
        </activity>
        <activity
            android:name=".activities.ExpendActivity"
            android:label="@string/title_activity_expend"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="main.pfmandroid.MainActivity" />
        </activity>
        <activity
            android:name=".activities.EarnActivity"
            android:label="@string/title_activity_earn"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="main.pfmandroid.MainActivity" />
        </activity>
        <activity
            android:name=".activities.TransferActivity"
            android:label="@string/title_activity_transfer"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="main.pfmandroid.MainActivity" />
        </activity>
        <activity
            android:name=".activities.BalanceActivity"
            android:label="@string/title_activity_balance"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="main.pfmandroid.MainActivity" />
        </activity>
        <activity
            android:name=".activities.JournalActivity"
            android:label="@string/title_activity_journal"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="main.pfmandroid.MainActivity" />
        </activity>
        <activity
            android:name=".ConnectionActivity"
            android:label="@string/title_activity_connection"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="main.pfmandroid.MainActivity" />
        </activity>
        <activity
            android:name=".ConnectionTest"
            android:label="@string/title_activity_connection_test"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="main.pfmandroid.MainActivity" />
        </activity>
    </application>
</manifest>