/** Add css rules here for your application. */

/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

body{
	background: #fff;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.gwt-Button {
	color: #333;
}

.gwt-Button:active {
  border: 1px inset #000;
  color: #111;
}
.gwt-Button:hover {
  border: 1px outset #444;
  background: #55BBFC;
  color: #FFF;
}

.gwt-TabBar {
  background: #fcfcfc;
  padding-top: 16px;
  border-color: #d0d0d0;
  border-style: solid;
  border-width: 0px 0px 0px;
}

.gwt-TabBar .gwt-TabBarItem {
  font-size: 150%;
  font-weight: bold; 
  background: #f0f0f0;
  color: #555;
}
.gwt-TabBar .gwt-TabBarItem-selected {
  background: #3399CB;
  color: #FFF;
} 
.gwt-TabBar .gwt-TabBarItem-disabled {
  color: #999999;
}

.gwt-TabPanelBottom {
  border-color: #3399CB;
  border-style: solid;
  border-width: 2px 2px 2px 2px;
}	

.gwt-TabPanelBottom-mainTabsId{
  border-color: #3399CB;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
}


.gwt-TabPanel {
 background: #fcfcfc;
}

.dialogVPanel {
  margin: 5px;
}

.gwt-DisclosurePanel {
}
.gwt-DisclosurePanel-open {
}
.gwt-DisclosurePanel-closed {
}
.gwt-DisclosurePanel .header,
.gwt-DisclosurePanel .header a,
.gwt-DisclosurePanel .header td {
  text-decoration: none;  /* Remove underline from header */
  color: black; 
  cursor: pointer;
  cursor: hand;
}
.gwt-DisclosurePanel .content {
  border-left: 3px solid #e7e7e7;
  padding: 4px 0px 4px 8px;
  margin-left: 6px;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#tabBarId {
  background: #ffffff;
  padding-top: 6px;
  border-color: #d0d0d0;
  border-style: solid;
  border-width: 0px 0px 0px;
}